@import "../../../assets/styles/variables.scss";

.header-container {
  height: 10vh;
  padding: 3px;
  @include center-flex;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: $background-card;
  @media (min-width: 1400px) {
    height: 8vh;
  }

  .logo {
    width: 45px;
    height: 45px;
    @media (min-width: 1400px) {
      width: 58px;
      height: 58px;
    }
  }

  .text-container {
    font-family: $font-default;
    padding: 0 5px;

    &__title {
      font-size: 1rem;
      font-weight: 500;
      @media (max-width: 600px) {
        font-size: 0.9rem;
      }
      @media (min-width: 1400px) {
        font-size: 1.4rem;
      }
    }

    &__subtitle {
      @include center-flex;
      color: $greyText;
      font-weight: 500;
      gap: 3px;
      font-size: 0.9rem;
      font-style: italic;
      @media (max-width: 600px) {
        font-size: 0.7rem;
        padding: 2px 0;
      }
      @media (min-width: 1400px) {
        font-size: 1rem;
      }
    }

    &__subtitle::before {
      content: "";
      width: 0.5rem;
      background-color: $darkGrey;
      height: 1.9px;
      @media (min-width: 1400px) {
        width: 0.7rem;
      }
    }
    &__subtitle::after {
      content: "";
      width: 1.8rem;
      background-color: $darkGrey;
      height: 1.9px;

      @media (min-width: 1400px) {
        width: 2.3rem;
      }
    }
  }
}
