@import "../../../assets/styles/variables.scss";

.main-container {
  display: flex;
  flex-direction: column;

  .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    font-family: $font-default;
    @media (min-width: 1400px) {
      gap: 32px;
    }
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .card {
    width: 190px;
    height: 300px;
    background-color: $background-card;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    position: relative;
    transition: transform 0.2s;
    &:hover {
      transform: scale(1.07);
    }
    @media (min-width: 1400px) {
      width: 270px;
      height: 390px;

      &:hover {
        transform: scale(1.05);
      }
    }
    @media (max-width: 600px) {
      width: 90%;
      height: 110px;
      @include center-flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      &:hover {
        transform: none;
      }
    }
  }

  button {
    background-color: transparent;
    border-radius: 100%;
    border: none;
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
    @media (min-width: 1400px) {
      top: -13px;
      right: -10px;
    }

    .close-button {
      height: 22px;
      width: 22px;
      fill: $greyText;
      stroke: $greyText;
      padding: 2px;
      border: 1px solid $darkGrey;
      background-color: $background-card;
      border-radius: 100%;
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.17) rotate(-90deg);
        stroke: red;
        fill: red;
        border: 1px solid black;
      }
      @media (min-width: 1400px) {
        height: 32px;
        width: 32px;
        padding: 4px;
      }
    }
  }

  .card-image {
    width: 100%;
    height: 45%;
    border-radius: 6px 6px 0 0;
    object-fit: cover;

    @media (max-width: 600px) {
      width: 90px;
      height: 100px;
      border-radius: 6px;
      margin-right: 4px;
    }
  }

  .label {
    position: absolute;
    color: white;
    border-radius: 4px;
    padding: 1px 3px;
    right: 3px;
    top: 38%;
    font-size: 10px;
    @media (min-width: 1400px) {
      top: 39%;
      right: 5px;
      font-size: 14px;
    }
    @media (max-width: 600px) {
      font-size: 9px;
      top: 79%;
      right: 7px;
    }

    &.Paisagem {
      background-color: $blueBackground;
    }
    &.Flor {
      background-color: $redBackground;
    }
    &.Pizza {
      background-color: $greenBackground;
    }
  }

  .card-content {
    width: 100%;
    height: 50%;
    overflow: hidden;
    @media (max-width: 600px) {
      width: 70%;
      height: 80%;
    }

    .card-title {
      margin-left: 8px;
      font-size: 20px;
      font-weight: 500;

      @media (min-width: 1400px) {
        font-size: 26px;
        margin-left: 14px;
      }

      @media (max-width: 600px) {
        margin-left: 6px;
      }
    }

    .card-description {
      width: 100%;
      height: 100%;
      padding: 8px 13px;
      font-size: 12px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      overflow: hidden;
      text-overflow: ellipsis;

      @media (max-width: 600px) {
        font-size: 13px;
        padding: 2px 6px;
        -webkit-line-clamp: 4;
      }

      @media (min-width: 1400px) {
        font-size: 17px;
        padding: 4px 18px;
      }
    }
  }
}
